$color-blanco-madrid: #ffffff;
$color-azul-madrid: #00529F;
$color-dorado-madrid: #FEBE10;

$color-primary: $color-blanco-madrid;
$color-secondary: $color-azul-madrid;
$color-accent: $color-dorado-madrid;

$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;