@use '../variables' as *;
@use '../mixins' as *;

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;

  &__th,
  &__td {
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    text-align: left;
  }

  &__thead {
    .table__th {
      border-bottom: 2px solid $color-secondary;
      background-color: $color-secondary;
      color: $color-primary;
    }
  }

  &--striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &--hover tbody tr:hover {
    background-color: rgba(0, 82, 159, 0.1);
  }

  &--bordered {
    border: 1px solid #dee2e6;

    .table__th,
    .table__td {
      border: 1px solid #dee2e6;
    }
  }
}
